html{
	scroll-behavior: smooth;
    color: #464646;
}

body{
    font-family: 'Poppins', sans-serif;

}

.container{
    width: 95%;
    margin: 0 auto;
}



@media (max-width: 700px){

    .seccion__producto{
        padding-top: 0;
        padding-bottom: 0;
    }

    .producto{
        flex-direction: column;
    }

    .producto__imagen{
        width: 110%;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .producto__info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
} 



 @media (max-width:1024px){

    .seccion__producto{
        padding-top: 2rem;
        padding-bottom: 0;
    }

    .producto__imagen{
        height: auto;
    }
    
} 
